.smilingBridesMain {
    display: flex;
    position: relative;
}

.enagementBtn {
    height: 35px;
    border: none;
    font-size: 12px;
    width: 200px;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid white;
    background-color: transparent;
}


.smilingBrides {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.smlingBridesImages {
    width: 75%;
}

.smilingMainImages {
    height: 650px;
    width: 100%;
    margin-top: 5px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .smilingBridesMain {
        display: flex;
        flex-direction: column;
    }

    .smlingBridesImages {
        width: 100%;
    }

    .smilingBrides {
        order: 2;
    }

    .linkingShopCol{
        font-weight: 700!important;
    }

    .ring1Desc{
        font-size: 12px!important;
        letter-spacing: 1px!important;
        font-weight: 500!important;
    }
}

.smilingBridesMainTitle{
    font-family: 'PT Sans', sans-serif;
}
@media screen and (max-width: 500px) {

    .smilingBrides{
        border: none !important;
    }

    .smilingMainImages {
        height: 350px;
        width: 100%;
        margin-top: 5px;
    }

}