
.imagesViewCategoryDiv{
    width: 50%;
    padding: 2px;
}
.imagesViewCategory{
    height: 90%;
    width: 100%;
    object-fit: cover;
}

.colletioname{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}