.FestiveMainImage {
    position: relative;
}

.FestiveBannerImage {
    width: 100%;
}

.festiveBox {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.DiscoverBtn {
    height: 35px;
    width: 200px;
    background-color: #7d7f85;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 1024px) {
    .FestiveMainImage {
        display: flex !important;
        flex-direction: column !important;
    }

    .festiveBox {
        position: static !important;
        top: 0;
        left: 0;
        transform: translate(0%, 0%) !important;
        text-align: center;
    }

    .smilingFestiMainTitle1 {
        font-size: 11px !important;
        font-weight: 500;
        margin: 0px;
        color: gray !important;
        font-family: 'PT Sans', sans-serif;

    }

    .festiveBox {
        padding-top: 10px !important;
    }

    .smilingFestiMainTitle2 {
        font-size: 20px !important;
        font-family: 'PT Sans', sans-serif;
        color: gray !important;

    }

    .smilingFestiMainTitle3 {
        color: gray !important;
        font-family: 'PT Sans', sans-serif;

    }
  
}