.FestiveMainImage {
    position: relative;
}

.FestiveBannerImage {
    width: 100%;
    position: absolute;
}

.festiveBox {
    position: absolute;
    text-align: center;
    padding: 20px;
    top: 40px;
}

.DiscoverBtn {
    height: 35px;
    width: 150px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 1024px) {
    .FestiveMainImage {
        display: flex !important;
        flex-direction: column !important;
    }


    .smilingFestiMainTitle1 {
        font-size: 11px !important;
        font-weight: 500;
        margin: 0px;
        color: white !important;
        font-family: 'PT Sans', sans-serif;

    }

    .smilingFestiMainTitle2 {
        font-size: 20px !important;
        font-family: 'PT Sans', sans-serif;
        color: white !important;

    }

    .smilingFestiMainTitle3 {
        color: white !important;
        font-family: 'PT Sans', sans-serif;

    }
  
}