

.shopbycategoryTitle{
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    color: rgb(125, 127, 133);
    margin: 20px 0px 5px 5px;
}

.shopbycategoryDesc{
    display: flex;
    justify-content: center;
}

.shopByCategoryBox{
    margin: 30px;  
}
.shopByCategoryBoxImg{
    height: 200px;
    width: 200px;
}

.shopByCategoryBox1Main{
    display: flex;
}

.shopByCategoryBox2Main{
    display: flex;
}

@media screen and (max-width: 550px) {


    .shopByCategoryBox{
        width: 50%!important;
        margin: 5px!important;
        height: 230px;
    }

    .shopByCategoryBoxImg{
        height: 90%!important;
        width: 100%!important;
        object-fit: cover;
    }

}